- if @contributing_projects.any?
  %h3.title Distribuir Contribuições

= simple_form_for(@new_project, url: my_contributing_projects_path, method: :put) do |f|
  - @contributing_projects.each do |project|
    .row
      .col.m4
        %strong= project.title
        %input{name: 'existing_projects[][id]', type: 'hidden', value: project.id}

      .col.m1
        min. R$
      .col.m1
        %input{name: 'existing_projects[][min]', type: 'number', value: project.min.to_i, min: 0}

      .col.m5
        .range-field
          %input{name: 'existing_projects[][percentage]', type: 'range', value: project.percentage}

      .col.m1
        = "#{project.percentage}%"


  %h4.title Adicionar Causa
  .row
    = f.input :project, collection: @projects_available, wrapper_html: { class: 'col m12' }

  .row.center-align
    = f.submit 'Atualizar', class: 'btn waves-effect waves-light'
