= simple_form_for(@account, url: project_account_path) do |f|
  = f.error_notification

  .form-inputs
    = f.select :service, ['Banco do Brasil', 'PayPal']
    = f.input :agency
    = f.input :account
    = f.input :email

  .form-actions
    = f.button :submit
