%h3.title #{@project.title}: #{@account.service}

%h4 Lista de contribuições

- if @account.transactions.empty?
  %h5 Esta conta ainda não possui nenhuma transação.
- else
  %table.striped
    %thead
      %tr
        %th Criado em
        %th Usuário
        %th Valor

    %tbody
      - @account.transactions.each do |transaction|
        %tr
          %td= transaction.created_at
          %td= transaction.user.name
          %td
            %strong.chip.lime.accent-4= "R$ #{transaction.price}"
