= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :image_url
    = f.input :public, hint: 'Causas públicas irão aparecer na busca e na página de causas'

  %br

  .form-actions
    = f.button :submit
