%h3.title Causas cadastradas

.projects-list.masonry-layout
  - @projects.each do |project|
    = link_to project do
      .masonry-layout-panel
        .masonry-layout-panel-content
          .card
            .project-image-container.card-image
              = image_tag project.image_url, class: 'project-image'
            .project-content.card-content
              .card-title
                = project.title
                = "R$ #{project.total_contributed}"
              .card-description= project.description

= link_to 'New Project', new_project_path
