.projects-header
  %h3 Causa
  - if current_user == @project.owner
    %div
      = link_to 'Editar', edit_project_path(@project), class: 'waves-effect waves-light btn'
      = link_to @project, method: :delete,
                data: { confirm: 'Você tem certeza?' }, class: 'waves-effect waves-light btn red' do
        %i.material-icons.left
          archive
        Arquivar

.project-page
  .card
    .project-image-container.card-image
      = image_tag @project.image_url, class: 'project-image'
    .project-content.card-content
      .project-title.card-title
        %span
          = @project.title
        .chip.lime.accent-4
          = "R$ #{@project.total_contributed}"
      = @project.description

    - if current_user == @project.owner
      .card-action
        - if @project.account
          = link_to 'Ver Conta', project_account_path(@project)
          = link_to 'Editar Conta', edit_project_account_path(@project)
        - else
          = link_to 'Adicionar Conta', new_project_account_path(@project)

- if @project.contributing_users.any?
  %h5.title Usuários que suportam esta causa

  = render partial: 'users/list', locals: { users: @project.contributing_users }
