%h3.title Causa

%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Description:
  = @project.description
%p
  %b Image url:
  = @project.image_url

- if @project.account
  = link_to 'Editar conta', edit_project_account_path(@project)
- else
  = link_to 'Adicionar conta', new_project_account_path(@project)

%h2 Montante contribuido
= "R$ #{@project.total_contributed}"

%h2 Usuários que suportam esta causa

%ul
  - @project.contributing_users.each do |user|
    %li= link_to user.name, user

= link_to 'Edit', edit_project_path(@project)
= link_to 'Destroy', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'Back', projects_path
