- path = @account.new_record? ? my_accounts_path : my_account_path(@account)

= simple_form_for(@account, url: path) do |f|

  = f.error_notification

  .form-inputs
    = f.select :service, ['Banco do Brasil', 'PayPal', 'NuBank']
    = f.input :agency
    = f.input :account
    = f.input :email
    = f.input :password

  .form-actions
    = f.button :submit
