.projects-header
  %h3 Minhas Contas
  = link_to 'Adicionar Conta', new_my_account_path, { class: 'waves-effect waves-light btn' }

- if @accounts.empty?
  .center-align
    %h5 Você ainda não possui nenhuma conta cadastrada.
- else
  %table
    %thead
      %tr
        %th Serviço
        %th Total Transações
        %th Total Cofrinho
        %th
        %th

    %tbody
      - @accounts.each do |account|
        %tr
          %td
            .account-box
              %img.circle.account-logo{ src: account_logo(account.service) }
              %strong= account.service
          %td= "R$ #{account.transactions.sum(&:price)}"
          %td
            %strong.chip.lime.accent-4= "R$ #{account.savings.sum(&:price)}"
          %td= link_to 'Mostrar', my_account_path(account), { class: 'waves-effect waves-light btn' }
          %td= link_to 'Editar', edit_my_account_path(account), { class: 'waves-effect waves-light btn' }
