.projects-header
  %h3= @account.service
  = link_to 'Editar', edit_my_account_path(@account), { class: 'waves-effect waves-light btn' }

- if @account.transactions.empty?
  %h5 Esta conta ainda não possui nenhuma transação.
- else

  = line_chart @account.transactions.map { |t| [t.transaction_date, t.price.to_f] }

  %table.striped
    %thead
      %tr
        %th Código
        %th Criado em
        %th.col.s8 Descrição
        %th Valor
        %th Cofrinho

    %tbody
      - @account.transactions.each do |transaction|
        %tr
          %td= transaction.external_id
          %td= transaction.transaction_date
          %td
            %strong= transaction.description
          %td
            %strong= "R$ #{transaction.price}"
          %td
            %strong.chip.lime.accent-4= "R$ #{transaction.saving.price}"

      %tr
        %td
        %td
        %td
          %strong Total
        %td
          %strong= "R$ #{@account.transactions.sum(&:price)}"
        %td
          %strong.chip.lime.accent-4= "R$ #{@account.savings.sum(&:price)}"
%br

.row
  .col.sm2
  = link_to 'Enviar CSV', upload_csv_my_account_path(@account), { class: 'waves-effect waves-light btn' }
