.coin-banks-widget
  %ul.collection.with-header
    %li.collection-header
      %strong
        %i.material-icons attach_money
    %li.collection-item
      %strong Cofrinho atual:
    %li.collection-item
      = coin_bank_savings_total(@coin_banks.active)
    %li.collection-item
      %strong Cofrinhos anteriores:
    - @coin_banks.inactives.each do |coin_bank|
      %li.collection-item
        %strong= "#{coin_bank.terminated_at.strftime('%B %y')}: "
        = "#{coin_bank_savings_total(coin_bank)}"
