.coin-banks-widget
  %ul.collection.with-header
    %li.collection-header
      %strong
        %i.material-icons attach_money

    %li.collection-item
      %strong Cofrinho atual:

    %li.collection-item.center-align
      .light-green-text.accent-4
        %h4= coin_bank_savings_total(@coin_banks.active)

      - if @coin_banks.active.savings.any?
        = link_to 'Fechar Cofrinho', my_terminate_coin_bank_path, method: 'put', class: 'btn'

    - @coin_banks.inactives.each do |coin_bank|
      %li.collection-item
        %strong Cofrinhos anteriores:
      %li.collection-item.center-align
        = "#{coin_bank_savings_total(coin_bank)}"
        \/
        %strong= "#{coin_bank.terminated_at.strftime('%b %y').upcase}"
