.contributions-widget
  - @contributing_projects.each do |project|
    = link_to project.project do
      .card.horizontal
        .card-image.project-image-container
          = image_tag project.image_url, class: 'project-image'
        .card-content
          %strong.project-title
            = project.title
          .project-percentage
            %strong
              = "#{project.percentage}%"
