!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Troquinho
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if current_user
      = render 'layouts/side_nav'
    #main-page
      = render 'layouts/app_header'
      - if notice
        .notice-message.light-green.darken-3
          .white-text
            = notice

      #main-content
        = yield
